<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <!--
    Ukloni permisije koje plugini merge-uju a app ih ne koristi:
    - open_filex: storage/media (otvara samo app-generated PDF iz temp/docs)
    - flutter_background_service: RECEIVE_BOOT_COMPLETED (autoStartOnBoot: false)
  -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="remove" />
  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" tools:node="remove" />
  <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" tools:node="remove" />
  <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" tools:node="remove" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" tools:node="remove" />

  <!-- Stvarno korišćene permisije -->
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <application
    android:label="Gavra 013"
    android:name="${applicationName}"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:largeHeap="true"
    android:enableOnBackInvokedCallback="true">

    <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/ic_notification" />
    <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/notification_color" />
    <meta-data android:name="flutterEmbedding" android:value="2" />

    <activity
      android:name=".MainActivity"
      android:exported="true"
      android:launchMode="singleTop"
      android:taskAffinity=""
      android:theme="@style/LaunchTheme"
      android:screenOrientation="portrait"
      android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
      android:hardwareAccelerated="true"
      android:windowSoftInputMode="adjustResize"
      android:resizeableActivity="true"
      android:supportsPictureInPicture="true"
      android:showWhenLocked="true"
      android:turnScreenOn="true">
      <meta-data android:name="io.flutter.embedding.android.NormalTheme" android:resource="@style/NormalTheme" />
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <intent-filter android:autoVerify="false">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="https" android:host="gjtabtwudbrmfeyjiicu.supabase.co" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="gavra" />
      </intent-filter>
    </activity>

    <service
      android:name="id.flutter.flutter_background_service.BackgroundService"
      android:foregroundServiceType="location"
      android:exported="false"
      tools:replace="android:exported" />

    <!-- autoStartOnBoot: false -->
    <receiver
      android:name="id.flutter.flutter_background_service.BootReceiver"
      tools:node="remove" />
  </application>

  <queries>
    <intent>
      <action android:name="android.intent.action.PROCESS_TEXT"/>
      <data android:mimeType="text/plain"/>
    </intent>
    <package android:name="com.here.app.maps"/>
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <data android:scheme="here-route"/>
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <data android:scheme="geo"/>
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <data android:scheme="https"/>
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <data android:scheme="market"/>
    </intent>
    <intent>
      <action android:name="android.intent.action.DIAL"/>
      <data android:scheme="tel"/>
    </intent>
    <intent>
      <action android:name="android.intent.action.SENDTO"/>
      <data android:scheme="sms"/>
    </intent>
    <intent>
      <action android:name="android.intent.action.SENDTO"/>
      <data android:scheme="smsto"/>
    </intent>
  </queries>
</manifest>
