create table public.v3_zahtevi_pazara ( vozac_id uuid primary key references public.v3_auth(id) on delete cascade, datum date not null, created_at timestamptz not null default now() ); alter table public.v3_zahtevi_pazara enable row level security; create policy "Allow all" on public.v3_zahtevi_pazara for all to authenticated, anon using (true) with check (true);
